<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="28"
      android:versionName="0.5.3" package="ru.henridellal.emerald"
      >

    <!--android:configChanges="keyboard|keyboardHidden|orientation|screenSize"-->

	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="26"/>
	 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
     
	 <uses-permission-sdk23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
     <uses-permission-sdk23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
          <supports-screens
                  android:normalScreens="true"
                  android:largeScreens="true"
                  android:xlargeScreens="true"
                  android:anyDensity="true"/>
       
  <application 
  android:appCategory="productivity"
  android:label="@string/app_name"
  android:icon="@drawable/icon">
      
 		<activity android:name=".AboutActivity" android:label="@string/aboutTitle"/>
 		<activity android:name=".TutorialActivity" android:label="@string/how_to_use"/>
 		<activity android:name=".CategoryManagerActivity" android:label="@string/categoryManager"/>
 		<activity android:name=".Options" android:label="@string/launcherSettings"/>
 		<activity android:name=".ThemerActivity" android:label="@string/ui_colors"/>
            <!--
            -->
        <activity android:name=".Apps"
            		android:resizeableActivity="false"
        			android:excludeFromRecents="true"
      			  android:launchMode="singleInstance"
      			  android:configChanges="orientation|keyboardHidden|screenSize"
      			  android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
                  android:theme="@style/AppTheme.Default"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
       
        </activity>
        <receiver android:name="DirtinessReceiver">
        	<intent-filter>
        	<action android:name="android.intent.action.PACKAGE_INSTALL"/>
        	<action android:name="android.intent.action.PACKAGE_ADDED"/>
        	<action android:name="android.intent.action.PACKAGE_REMOVED"/>
        	<action android:name="android.intent.action.PACKAGE_REPLACED"/>
        	<data android:scheme="package"/>
        	</intent-filter> 
        </receiver>
    </application>
</manifest>
